extends ../layout

block content

  p Are you sure you want to delete the genre named <strong>#{genre.name}</strong>?

  form(action="/genres/" + genre.id + "/delete", method="post" onsubmit="return confirm('Do you really want to delete this genre?');")
    a(href="/genres/" + genre.id) No! Take me back!
    |
    input(type="submit", value = "Yes, I'm sure")

