//- Example using global (in app) var from app.js
p Git Repo:&nbsp;

  a(href=`${footer.copyright.link}` target="_blank")= footer.copyright.text
  = `, ${footer.copyright.author} ${footer.copyright.year}`

