meta(charset='UTF-8')
meta(name='viewport' content='width=device-width, initial-scale=1.0')
title= `My Bookshelf ${title}`
meta(name='description' content='Demo app of learnings about Express, SQLite, Sequelize, and Pug')
meta(name="theme-color" content="hsl(166deg 99% 30%")
link(rel='icon' href='/favicon.ico')
link(rel='stylesheet', href='/stylesheets/style.css')
link(rel='stylesheet', href='/stylesheets/search.css')
link(rel='stylesheet', href='/stylesheets/paginator.css')
script(src='/scripts/search.js' defer)
