// Get current page title to determine which nav link to highlight
- const currentPage = 'X'

ul
  li.nav-section-title
    | Browse
  li
    if currentPage === 'book-list'
      .active All Books
    else
      a(href='/') All Books
  li
    if currentPage === 'author-list'
      .active All Authors
    else
      a(href='/authors') All Authors
  li
    if currentPage === 'genre-list'
      .active All Genres
    else
      a(href='/genres') All Genres
  li.nav-section-title
    | Create
  li
    if currentPage === 'new-author'
      .active Create New Author
    else
      a(href='/authors/new') Create New Author
  li
    if currentPage === 'new-genre'
      .active Create New Genre
    else
      a(href='/genres/new') Create New Genre
  li
    if currentPage === 'new-book'
      .active Create New Book
    else
      a(href='/books/new') Create New Book
