ul
  li
    a(href='/') Home
  li
    a(href='/books') All books
  li
    a(href='/authors') All authors
  li
    a(href='/genres') All genres
  li
    hr
  li
    a(href='/authors/new') Create new author
  li
    a(href='/genres/new') Create new genre
  li
    a(href='/books/new') Create new book
