doctype html
html(lang='en')
  head
    include includes/head.pug
  body
    header
      include includes/header.pug
    main
      include includes/subhead.pug
      block content

    footer
      include includes/footer.pug
