body {
  padding: 10px 50px 50px;
  font: 18px Garamond, serif;
}

a {
  color: #019875;
  text-decoration: none;
  font-weight: bold;
  transition: .4s;
}

a:hover {
  color: black;
}

a.button,
input[type='submit'] {
  color: white;
  background: #019875;
  font-family: Lucida Grande, Helvetica, Arial, sans-serif;
  padding: 10px 14px 12px;
  font-size: 14px;
  border-radius: 2px;
  cursor: pointer;
  transition: .4s;
  border: 0;
  margin-bottom: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

form a.button,
input[type='submit'] {
  margin-left: 140px;
}

a.button:hover,
input[type='submit']:hover {
  background-color: #01b189;
}

p {
  margin: 20px 0;
}

ul {
  padding: 0;
  list-style-type: none;
  margin-bottom: 10px;
  line-height: 1.3em;
}

th {
  border-bottom: 2px solid #d8b493;
  text-align: left;
  padding: 5px 20px 5px 10px;
}

tr {
  min-height: 50px;
}

tr:nth-child(2n) {
  background: #e7e7e7;
}

td {
  padding: 5px 20px 5px 10px;
}

label {
  font-weight: bold;
  min-width: 130px;
  display: inline-block;
  transition: .4s;
}

textarea,
input {
  padding: 10px;
  font-family: Lucida Grande, Helvetica, Arial, sans-serif;
  font-size: 14px;
  border-radius: 2px;
  border-color: #e7e7e7;
  transition: .4s;
}

textarea,
input[type='text'] {
  margin-left: 7px;
  width: 300px;
}

input[type='date'],
input[type='number'] {
  margin-left: 7px;
}

table + a.button,
a:not(.button) + input {
  margin: 1rem 0 0;
}

.error {
  color: rgb(236 15 15);
}

header {
  width: 12rem;
  height: 100%;
  background: #019875;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 1rem;
}

header a {
  background-color: hsl(166, 99%, 34%);
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  display: block;
  padding: 1rem;
  transition: .4s;
}

header a:hover {
  background-color: hsl(166, 99%, 66%);
}

header li:not(:last-of-type) {
  margin-bottom: .25rem;
}

header hr {
  border: 0;
  height: 1px;
  background: hsl(166, 99%, 34%);
  margin: 1rem 0;
}

main {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 12rem;
  padding: 1rem;
}

.errors {
  color: hsl(4, 70%, 50%);
}

.subheader {
  border-bottom: 2px solid #e7e6e7;
  margin-bottom: 2rem;
  width: 100%;
}

.subheader h1 {
  font-size: 2.25rem;
  margin-bottom: 1rem;
}

.subheader + p {
  margin-top: 0;
}

fieldset {
  border: 0;
  display: flex;
  padding: 0;
  margin: 0 0 1rem;
}
