if(errors)
  include ../includes/form-error.pug

fieldset
  label(for="firstName") First Name:
  input(type="text" name="first_name" placeholder="Given name" autocomplete=false value=author.first_name)

fieldset
  label(for="lastName") Last Name:
  input(type="text" name="last_name" placeholder="Family name (Surname)" value=author.last_name)

input(type="submit" value=author.id ? "Update Author" : "Create New Author")
