extends ../layout

block content
  include ../includes/subhead.pug

  p
    a(class="button" href="/authors/new")
      | New Author &#43;

  table
    thead
      tr
        th Name
        th Date of Birth
        th Date of Death
    tbody

    each author in authors
      tr
        td
          a(href=`/authors/${author.id}`)= author.fullName()
        td= author.dob()
        td= author.dod()
