extends ../layout

block content
  include ../includes/subhead.pug

  form(action="/authors", method="post" autocomplete="off" novalidate)
    include ./form.pug

    a(class="button" href="/authors") Cancel
